/* Fonts--> */
/* Font classes */
.azeret-mono-regular{
    font-family: "Azeret Mono";
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
  }

  
/* main part starts here */

*{
    margin: 0px;
}


/* banner style */
.banner-container{
    background-image: url('../assets/Hero-bg.png');
    margin:0 auto;
    margin-bottom: 74px;
    height: 652px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.banner-container .banner-text{
    text-align: center;
    height: 652px;
    align-content: center;
}
.banner-text .title{
    font-size: 48px;
    font-weight: 800;
    margin-top: 43px;
}
.banner-text .description{
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 32px;
    color: rgba(0, 0, 0, 0.7);
}

.banner-text .btn{
    width: 208px;
    height: 66px;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color:white;
    font-size: 20px;
    cursor: pointer;
}

/* Web development styles */

.container{
    width: 1140px;
    height: 1250px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
    margin-top: 74px;
    margin-bottom: 88px;
}
.container .div1{
    text-align: center;
}
.container .div1 .title{
    font-size: 32px;
    font-weight: 800;
}
.container .div1 .description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 24px;
    margin-bottom: 60px;
}


.container .div2{
    display: flex;
    align-items: center;
    gap: 108px;
    background-image: linear-gradient(to left, rgba(255, 255, 255,0.1), rgba(255, 255, 255,0.99));
    border-radius: 16px;
    padding: 48px;
}
.container .div3{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 108px;
    background-image: linear-gradient(to right, rgba(255, 255, 255,0.1), rgba(255, 255, 255,0.99));
    border-radius: 16px;
    padding: 48px;
    margin: 40 px 0px;
}

.container .div2 .title, .div3 .title{
    font-size: 24px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
}
.container .div2 .description, .div3 .description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(13, 19, 33,0.7);
    margin-top: 16px;
    margin-bottom: 32px ;

}
.btn2{
    width: 150px;
    height: 48px;
    padding: 12px 20px 12px 20px;
    margin: 32px 0px;
    border: 1px solid rgba(13, 19, 33,0.7);
    font-size: 20px;
    color: rgb(13, 19, 33);
    background-color:rgba(0, 0, 0, 0);
    cursor: pointer;
}


/* inspiration section style */
.inspiration-container{
    text-align: center;
    padding: 30px;
    margin: 0 auto;
}

.inspiration-container .title{
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}
.inspiration-container .description{
    font-size: 16px;
    font-weight: 400;
    color: (13, 19, 33,0.5);
    margin-top: 24px;
    margin-bottom: 48px;
}
.iframe-container{
    padding: 30px;
}
.youtube{
    width: 1140px;
    height: 550px;
    border-radius: 15px;
}

/* current terget style */
.current-terget-container{
    margin: 111px auto;
}
.current-terget-container > div{
    text-align: center;
}

.current-terget-container .title{
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}
.current-terget-container .description{
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    margin-top: 24px;
    margin-bottom: 48px;
}

.card-container{
    display: flex;
    justify-content:center;
    gap: 24px;

    
}
.card-container .card{
    text-align: left;
    padding: 40px;
    width: 364px;
    height: 300px;
}
.card-container .card .title1{
    font-size: 24px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    margin-top: 24px;
    margin-bottom: 8px;
}
.card-container .card .description1{
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    margin-bottom: 50px;
    margin-top: 8px;
}

.learn-link{
    color: black;
    font-size: 16px;
    font-weight: 700;
}

.color1{
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
    

}
.color2{
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
    

}
.color3{
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 16px;
    
}

/* support section style */

.support-container{
    margin: 0 auto;
    width: 1140px;
    height: 314px;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url('../assets/handshake.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    margin-bottom: 80px;
    padding: 64px 48px 64px 48px;
    border-radius: 16px;
}

.support-container .text-container{
    align-content: center;
    text-align: center;
    height: 314px;
}
.support-container .text-container .title{
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.support-container .text-container .description{
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    margin-top: 16px;
    margin-bottom: 24px;
}

.support-container .text-container .form{
    display: flex;
    justify-content:center;
}

.support-container .text-container .input-text{
    width: 548px;
    height: 57px;
    margin: 0px 16px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding-left: 20px;
}

.support-container .text-container .submit-text{
    width: 120px;
    height: 58px;
    padding: 17px 20px 17px 20px;
    margin: 0px 16px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 19, 33);
}

/* footer style */

.footer{
    height: 100px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}

.footer .footer-container{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 1230px;
    margin: 32px auto;
}

.footer .footer-container .icon .img{
    margin-right: 24px;
}
